@import '../../styles/settings.scss';

.component {
    position: relative;
    min-height: ($base-size *10);
    background: $color-dark;
    margin: 0 0 ($base-size*3) 0;
    border-radius: $radius;
    

    @include mq(smartphone-large) {
         min-height: ($base-size *15);
    }
     @include mq(tablet) {
        min-height: ($base-size *20);
    }
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    min-width: 80%;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
     @include mq(smartphone-large) {
        font-size: ($base-size *3);
    }
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}