@import '../../styles/settings.scss';

.component {
    margin: $base-size;
    background-color: purple;

    @include mq(smartphone-large) {
         width: 45%;
    }

     @include mq(tablet) {
         width: 30%;
    }
}

.title {
    text-align: center;
    margin: $base-size;
}

.icon > * {
  padding-left: $base-size;
  color: $color-warning;
  font-size: ($base-size * 2);
  vertical-align: middle;
}

.cards {
    padding: ($base-size / 2) 0;
  }