@import '../../styles/settings.scss';

.container {
padding: 0 0 $base-size 0;
}

.description {
margin: 0 ($base-size*3);
text-align: center;
}

.columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

     @include mq(smartphone-large) {
         flex-wrap: wrap;
         flex-direction: row;
    }
}

.creator {
    width: calc(33%-12px);
    margin: $base-size auto 0;

    input {
        box-shadow: 5px 5px 15px 5px #000000;
    }
}